
@{
    ViewData["Title"] = "ReceivedMessage";
}

<h1>Enquiry Requests:</h1>
<table border="1">
    <tr>
        <th>No.</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>University Name</th>
        <th>Course Name</th>
        <th>Approve</th>
    </tr>
    @{int i = 0;}
    @foreach (var customer in ViewBag.messages)
    {
        <tr>
            <td>@ViewBag.sequence[i]</td>
            <td>@customer.CustomerName</td>
            <td>@customer.CustomerEmail</td>
            <td>@customer.UniversityName</td>
            <td>@customer.CourseName</td>
            <td>
                <a asp-route-sequence="@ViewBag.sequence[i]" asp-controller="ServiveBus" asp-action="Approve">
                    <button>Approve</button>
                </a>
            </td>
        </tr>
        i++;
    }
</table>

